<!DOCTYPE html>
<html>
<head>
  <title>Twitter Feed Reader</title>
  <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
<script id="template-list" type="text/template">
  <% _(models).each(function(model) { %>
  <span data-cid='<%= model.name %>'>
    <img src="<%= model.profile_img %>" width="48" style="float: left; padding: 5px;"/>
  <p><%= model.name %></p>
  <p><%= model.html %></p>
  <% }); %>
  </span>
</script>

<div id='content'>
    <form>
      <label>Instant Tweet Search:</label>
      <input type='text' name='what'/><br />
    </form>

</div>
  <div id="twitterList"></div>

  <!-- Templates -->

  <script type="text/template" id="tpl-twitter-item">
    <% _(models).each(function(model) { %>
    <img src="<%= model.profile_img %>" width="48" style="float: left; padding: 5px;"/>

    <a href=''><%= model.name %> @<%= model.screen_name %></a>
    <p><%= model.html %></p>
    <% }); %>
  </script>
   <!--JavaScript-->


<!-- JavaScript Includes -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="js/backbone-min.js"></script>
<script type="text/javascript" src="js/twitter.js"></script>
</body>

</html>
