<!DOCTYPE html>
<html>
<head>
  <title>Twitter Feed Reader</title>
  <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="search">
    <script id="template-list" type="text/template">
    <% if (models) { %>
      <% _(models).each(function(model) { %>
        <span data-cid='<%= model.cid %>'>
          <img src="<%= model.profile_img %>" width="68" class="profile-img"/>
        <h4><%= model.name %> <%= model.screen_name %></h4>
        <p class="twitter-content"><%= model.twitter_content %></p>
       <% }); %>
      <% }; %>
    </span>
  </script>
</div>

<div id='content'>
    <form>
      <label>Instant Tweet Search:</label>
      <input type='text' name='what'/><br />
    </form>
</div>

<div id="twitterList"></div>
<script type="text/template" id="tpl-twitter-item">
  <% if (typeof(models) === "undefined") { %>
    <img src="<%= profile_img %>" width="48" style="float: left; padding: 5px;"/>
    <a href=''><%= name %> @<%= screen_name %></a>
    <p><%= twitter_content %></p>
  <% } %>
</script>
 <!--JavaScript-->

<!-- JavaScript Includes -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/underscore-min.js"></script>
<script type="text/javascript" src="js/backbone-min.js"></script>
<script type="text/javascript" src="js/twitter.js"></script>

<script>
  setTimeout(function(){
    window.location.reload();
  }, 60000);
</script>
</body>
</html>
